<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>643134120120-790iuo3ecea1gvnfh43742sb21kj6pvg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.643134120120-790iuo3ecea1gvnfh43742sb21kj6pvg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>643134120120-lcbva0qppujb0ep0ean669jbojboj20f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDDKH9K-tVXwErNhn7w9q9_hQxzCdwPy9A</string>
	<key>GCM_SENDER_ID</key>
	<string>643134120120</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.pandras.domMarinoApp</string>
	<key>PROJECT_ID</key>
	<string>dom-marino-ws</string>
	<key>STORAGE_BUCKET</key>
	<string>dom-marino-ws.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:643134120120:ios:81a75a7a10f9a4f2f0144d</string>
	<key>DATABASE_URL</key>
	<string>https://dom-marino-ws.firebaseio.com</string>
</dict>
</plist>